# Environments
venv/
.venv/
env/
.env
*.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
db.sqlite3
Backend/db.sqlite3

# Node
node_modules/
frontend/node_modules/

# Build
dist/
frontend/dist/
staticfiles/
Backend/staticfiles/
media/
Backend/media/

# Logs
*.log
Backend/notifications.log

# OS
.DS_Store
Thumbs.db